.quantity-button {
  display: flex;
  align-items: center;
}

/* .decrement-button,
.increment-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 18px;
  cursor: pointer;
}

.decrement-button:hover,
.increment-button:hover {
  background-color: #e0e0e0;
} */
.btn-qty {
  border-color: #343a40 !important;
  color: black !important;
}
.btn-qty:hover {
  transform: scale(1.05);
}
.quantity {
  margin: 0 10px;
  font-size: 16px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.empty-cart p {
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 0.3rem !important;
  color: #343a40;
font-weight: bold;
}

.empty-cart img {
  width: 400px;
  height: auto;
  background-color: transparent;
}

.cart-total-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.cart-total {
  font-size: 18px;
  margin-right: 10px;
}

.cart-amount {
  font-size: 24px;
  font-weight: bold;
}

.navLink {
  color: white !important;
}

.navLink :hover {
  font-weight: bold !important;
}

.navLink.active,
.navLink:active {
  font-weight: bold !important;
}

.css-106c1u2-MuiBadge-badge {
  color: black !important;
  background-color: white !important;
  margin: 3px 0px !important;
}
.table-cell {
  line-height: 2.43 !important;
}
.table-content {
  margin: inherit;
}

.iconbtn {
  color: #343a40 !important;
}
.iconbtn:hover {
  transform: scale(1.05);
}

.header {
  font-weight: bold !important;
  line-height: 5.5 !important;
  color: #343a40 !important;
  /* text-decoration: underline !important; */
}

.table-div {
  width: fit-content !important;
}
.total-caption {
  color: #343a40 !important;
  font-size: 18px !important;
  padding-bottom: 0px !important;
  
}

.amt-caption {
  font-size: 16px !important;
}

.btn-container {
  display: flex !important;
  justify-content: flex-end !important;
  position: relative !important;
  right: -480px !important;
  top: 29px !important;
}

.btn-checkout {
  position: absolute !important;
  right: 0 !important;
  background-color: #343a40 !important;
  color: white !important;
  text-transform: capitalize !important;
  letter-spacing: 0.1rem !important;
  border-radius: 50px !important;
}
.btn-checkout:hover {
  transform: scale(1.05);
}

.checkout-div {
  display: block;
  margin: auto;
  text-align: -webkit-center;
}

.sign-up-btn-div {
  margin: 10px auto;
}
.btn-signup {
  background-color: #343a40 !important;
  color: white !important;
  margin-bottom: 10px !important;
  text-transform: capitalize !important;
  letter-spacing: 0.1rem !important;
  border-radius: 50px !important;
}

.btn-signup:hover {
  /* transition: all 0.6s ease; */
  transform: scale(1.05);
  /* transform-origin: center; */
  /* transform: translateY(-10px); */
}

.product-main-div {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  grid-gap: 60px !important;
  padding: 50px !important;
}
.header-products {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: -10px auto !important;
}
.divider {
  width: 35% !important;
  background: #343a40 !important;
  display: flex !important;
  margin: auto !important;
  justify-content: center !important;
  align-items: center;
}

divider-div {
  margin: 0px !important;
}

.header-product {
  font-weight: bold !important;
  line-height: 5.5 !important;
  letter-spacing: 1rem !important;
  /* text-decoration: underline !important; */
}

.product-detail {
  margin: 15px !important;
}

.btn-placeOrder {
  background-color: #343a40 !important;
  color: white !important;
  margin-bottom: 10px !important;
  text-transform: capitalize !important;
  letter-spacing: 0.1rem !important;
  border-radius: 50px !important;
}
.btn-placeOrder:hover {
  transform: scale(1.05);
}

.btn-outlined {
  border-color: #343a40 !important;
  color: #343a40 !important;
  /* color: white !important;*/
  margin-bottom: 10px !important;
  text-transform: capitalize !important;
  letter-spacing: 0.1rem !important;
  border-radius: 50px !important;
}

.btn-outlined:hover {
  transform: scale(1.05);
}

.checkout-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: -6px;
}
.checkout-data-header {
  color: #343a40 !important;
  font-size: 14px !important;
  font-weight: bold;
}

.checkout-data {
  color: #343a40;
  font-size: 14px;
}

/* .MuiButton-contained {
  text-transform: capitalize !important;
} */


.single-product-div:hover{
  transform: scale(1.02);
}

.description-div{
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important; 
  /* max-height: 100%; 
  max-height: 3em;  */
  /* line-height: 150%; */


  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  text-overflow: ellipsis !important;
  width: 200px !important;
}